* {
    padding: 0;
    margin: 0;
}


/*Font and Typography Settings*/

.font-family-bebas {
    font-family: 'Bebas Neue';
}

.font-family-open {
    font-family: 'Open Sans', sans-serif;
}

.nav-link {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}


/*Font and Typography Settings*/

.navbar-brand {
    font-size: 24px;
}

#hero {
    background-image: url('./main-bg.jpg');
    height: 961px;
    width: 100%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}

#title {
    text-shadow: 1px 1px 10px #363636, 1px 1px 20px #383838;
}

@media screen and (min-width:700px) {
    #title {
        font-size: 80px;
        margin-top: 25vh;
        letter-spacing: 5px;
    }
}

#subtitle {
    font-weight: 400;
    text-shadow: 1px 1px 10px #363636, 1px 1px 20px #383838;
}

@media screen and (max-width:699px) {
    #title {
        font-size: 48px;
        margin-top: 15vh;
        letter-spacing: 3px;
    }
    #subtitle {
        font-size: 24px;
    }
}

#navigateToStory {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#navigateToStory #clickArea {
    cursor: pointer;
}

#theStoryText {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 5px #080a0b;
}

#arrowDown {
    text-shadow: 1px 1px 5px #080a0b;
}

#theGames {
    height: 789px;
    width: 100%;
    background-image: url("/assets/the-games-bg.jpg");
    background-size: cover;
}

.miniHeaderText {
    font-size: 24px;
    font-family: 'Open Sans';
    text-shadow: 1px 1px 5px #080a0b;
}

.sectionLead {
    font-weight: 400;
    letter-spacing: 5px;
    text-shadow: 1px 1px 5px #080a0b;
}

#theFeatures {
    height: 656px;
    width: 100%;
    background-image: url("/assets/features.jpg");
    background-size: cover;
    box-shadow: 100px -100px 900px rgba(0, 0, 0, 0.9) inset;
}

.linked {
    height: 140px;
}

.unlinked {
    height: 100px;
}


/* Features Timeline Section */

.left-timeline {
    width: 50px;
    position: relative;
    padding-left: 0px;
}

.dots {
    position: absolute;
    left: 0px;
}

.line {
    position: absolute;
    top: 22px;
    left: 14px;
    background-color: white;
    width: 2px;
    height: 126px;
}

.right-timeline {
    margin-left: 20px;
}

.featuresTitle {
    color: #e2a520;
}

.featuresSubTitle {
    text-shadow: 2px 1px 10px #080a0b;
}

@media screen and (max-width:699px) {
    #listOfFeatures {
        padding-top: 20px;
        max-width: 95%;
    }
}


/*System Requirements Section*/

#requirements {
    width: 100%;
    height: 961px;
    background-image: url("/assets/requirements.png");
    background-size: cover;
    box-shadow: 500px -500px 900px rgba(0, 0, 0, 0.9) inset;
}

table {
    width: 100%;
    border: 1px solid #999999;
}

td {
    border: 1px solid #999999;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    height: 100px;
}

.requirementsTitle {
    color: #e2a520;
}

#topScore {
    width: 100%;
    background-image: url("/assets/top-score-bg.png");
    background-size: cover;
    box-shadow: -700px -200px 900px rgba(0, 0, 0, 0.9) inset;
}

.topScorerCard {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    margin-bottom: 30px;
}

@media screen and (min-width:700px) {
    #caption {
        margin-top: 280px;
    }
    .topScorerCard {
        width: 450px;
    }
    .right-panel {
        padding-top: 100px;
    }
    #topScore {
        height: 961px;
    }
}

@media screen and (max-width:699px) {
    #topScore {
        height: 100%;
    }
    #caption {
        margin-top: 100px;
    }
    .topScorerCard {
        width: 100%;
    }
    .right-panel {
        padding-top: 30px;
    }
}

#btnSeeMore {
    color: black;
    background-color: #FFB548;
    font-weight: bold;
    font-size: 16px;
    height: 60px;
    margin-top: 30px;
    width: 260px;
}

.userPhotoContainer {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    box-shadow: 9px 3px #FFB548;
    margin-right: 30px;
}

.userPhoto {
    object-fit: cover;
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.userName {
    color: #FFB548;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 10px;
}

.twitter-small-icon {
    height: 14px;
}

.userOccupation {
    color: #777777;
    font-size: 18px;
}

.userQuotes {
    color: #ffffff;
    font-size: 18px;
}

.userCommentDate {
    color: #777777;
    font-size: 12px;
}

.card-container {
    display: flex;
    justify-content: center;
}

footer {
    background: #080A0B;
}

.newsletter-illustration-container {
    position: relative;
    height: 700px;
    display: block;
    background-size: cover;
    background-image: url('/assets/newsletter-illustration.png');
    background-position: cover;
}

.newsletter-illustration-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset -100px -200px 700px #080A0B;
}

#newsletterTitle {
    letter-spacing: 5px;
}

@media screen and (min-width:700px) {
    #newsletterTitle {
        font-size: 80px;
    }
}

@media screen and (max-width:699px) {
    #newsletterTitle {
        font-size: 48px;
    }
}

input {
    background-color: transparent;
    border: none;
    height: 20px;
    margin-top: 0px;
    color: #FFB548;
    font-size: 18px;
}

input::placeholder {
    color: #FFB548;
}

input:focus {
    outline: none;
    border: none;
}

.formLabel {
    line-height: 14px;
    font-size: 14px;
    margin-bottom: 5px;
}

.inputContainer {
    background-color: #363636;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

#btnSubscribe {
    color: black;
    background-color: #FFB548;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
    height: 60px;
    width: 100%;
}

@media screen and (max-width:699px) {
    .formContainer {
        margin-top: 30px;
    }
    .inputContainer {
        min-width: 280px;
        height: 60px;
    }
    .btnSubscribeContainer {
        height: 60px;
        min-width: 140px;
    }
}

@media screen and (min-width:700px) {
    .formContainer {
        margin-top: 100px;
    }
    .inputContainer {
        min-width: 360px;
        height: 60px;
    }
    .btnSubscribeContainer {
        height: 60px;
        min-width: 260px;
    }
}

.footer-nav {
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;
}

.footer-nav-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav-link:hover {
    color: #383838f3;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav-link:focus {
    color: #FFB548;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav-icon {
    height: 18px;
}

.copyright {
    padding: 30px 0px 30px 0px;
}

.copyright-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.divider {
    margin: 0px 10px 0px 10px;
    color: #ffffff;
}